<h1>Stuff</h1>
<form name="loginUser">
    <h2>Log In </h2>
    <div>
      <label for="login-username">
        Username:
      </label>
      <input id="login-username"
        ng-model="username"
        placeholder="username">
    </div>
    <div>
      <label for="login-password">
        Password:
      </label>
      <input
        type="password"
        id="login-password"
        ng-model="password"
        placeholder="password"
      >
    </div>
    <div>
      <button type="submit" name="submit">
        Submit
      </button>
    </div>
</form>
