<!DOCTYPE html>
<html ng-app="ngContact">
  <head>
    <meta charset="utf-8">
    <title>Contact Form</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Kaushan+Script" rel="stylesheet">

  </head>
  <body ng-controller="contact">
    <h1 class="fancy"> Hello, Who's This? </h1>
    <div class="container">
    <form ng-submit="submitFav()" name="favPieForm">
      <input name="name" type="text" ng-model="contact.name" placeholder="name">
      <br>
      <input name="street1" type="text" ng-model="contact.street1" placeholder="street">
      <br>
      <input name="street2" type="text" ng-model="contact.street2" placeholder="aptnum">
      <br>
      <input name="city" type="text" ng-model="contact.city" placeholder="city">
      <br>
      <input name="state" type="text" ng-model="contact.state" placeholder="state">
      <br>
      <input name="zip" type="number" ng-model="contact.zip" placeholder="zip">
      <br>

      <input type="submit">
    </form>
      <div class="outputs">
        Name: {{contact.name}}
        <br>
        Street Adress: {{contact.street1}}
        <br>
        Apt Number: {{contact.street2}}
        <br>
        City: {{contact.city}}
        <br>
        State: {{contact.state}}
        <br>
        Zip: {{contact.zip}}
      </div>
    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
      <script src="app.js" type="text/javascript"></script>

  </body>
</html>
