<h1>Chat Board</h1>
<h4>New Message</h4>
<form name="newChat" ng-submit="create()">
    <div class="form">
      <label for="char-username">
        Username:
      </label>
      <input id="chat-username"
        ng-model="username"
        placeholder="username">
    </div>
    <div class="form">
      <label for="chat-message">
        Password:
      </label>
      <input
        type="text"
        id="chat-message"
        ng-model="message"
        placeholder="message"
      >
    </div>
    <div>
      <button type="submit" name="submit">
        Submit
      </button>
    </div>
</form>
